/* ================================
	Bootstrap Classes
================================ */
.btn {
	border-radius: 4px;
}
.nav-justified>li {
	float: left;
	display: table-cell;
    width: 1%;
}
.nav-item {
	background-color: #d0e9ff;
	font-size: 0.9em;
}
.nav-tabs.nav-justified>li>a {
	margin: 0px;
}
.nav-tabs.nav-justified>.active>a, 
.nav-tabs.nav-justified>.active>a:focus, 
.nav-tabs.nav-justified>.active>a:hover {
	border-bottom-color: transparent;
	font-weight: bold;
}

/* ================================
	Common Attributes
================================ */
input[type='text'] {
	height: 38px;
	font-size: 1.2em;
}
select {
	height: 38px;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

/* ================================
	Optional Attributes
================================ */
input[name='instance'] {
	border: 0px;
}
span.price {
	font-weight: bold;
}

/* ================================
	Optional Classes
================================ */
.calc-header {
	padding: 10px;
	border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #ddd;
	border-bottom: 1px dashed #ddd;
}
.calc-content {
	padding: 10px;
	border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #ddd;
}
.instance-header {
}
.instance-block {
	margin: 10px 0px;
}
.instance-text {
	font-size: 1.2em;
}
.env_area .div_for_margin {
	padding: 4px 0px;
}
.env_area .div_for_margin * {
	width: 100%;
}
.volume_area {
	font-size: 1em;
}
.volume_area .div_for_margin {
	padding: 0px 4px;
}

#div_notice {
	border: 2px solid red;
	margin: 4px;
	padding-right: 20px;
	font-size: 0.9em;
}
#div_notice ul {
	margin-top: 10px;
}
#div_function_buttons {
	padding: 0px 15px;
}
#div_function_buttons .div_for_margin {
	padding: 4px;
}
#div_function_buttons .div_for_margin * {
	width: 100%;
	font-weight: bold;
	font-size: 1.4em;
}
.div_instance {
	background-color: #d0e9ff;
	padding: 20px 10px;
	margin: 10px;
	border-radius: 4px;
	border: 3px solid #D9E5FF;
	position: relative;
}
.div_instance:after {
	content: " ";
	display: block;
	clear: both;
}
img.del_instance_card {
	position: absolute;
	right: -12px;
	top: -15px;
	width: 30px;
	opacity: 0.4;
}
img.del_instance_card:hover {
	opacity: 1.0;
	cursor: pointer;
}
.div_instance:hover img.del_instance_card {
	display: block;
}



.total_price {
	text-align: right;
	font-size: 1.2em;
	color: red;
	font-weight: bold;
}






